<div>
    <br>
    <div
        style="position: relative; display: flex; align-items: center; justify-content: center; width: 100%; padding: 8px 0;">
        <h1 style="margin: 0;">
            Comparez deux dispositifs médicaux
        </h1>

        <div style="position: absolute; right: 16px; top: 50%; transform: translateY(-50%);">
            <button mat-raised-button (click)="goTo('/')">
                <mat-icon style="margin: auto;">home</mat-icon>
            </button>
        </div>
    </div>
    <br>
    <div style="display: flex; justify-content: center;padding: 1rem;">
        <!--Box 1-->
        <div style="width: 70%;margin: auto;">
            <mat-card class="example-card" appearance="outlined" style="padding: 1rem; align-items: center;">
                <mat-card-header>
                    <mat-card-title>Dispositif médical 1</mat-card-title>
                </mat-card-header>
                <mat-card-content style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                    <mat-form-field style="width: 50%;">
                        <mat-label>Dispositif médical</mat-label>
                        <mat-select [(ngModel)]="selectedIndexDMDurable" (selectionChange)="onDevice1Change()">
                            <mat-option></mat-option>
                            <mat-option value="{{indexDMDurable.id}}"
                                *ngFor="let indexDMDurable of listIndexDMDurable">{{indexDMDurable.nameOfMedicalName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Dashboard 1 -->
                    <div class="dashboard-container">
                        <!-- Left Panel -->
                        <div class="left-panel">
                            <div class="title-group">
                                <h1 class="title-main">INDEX</h1>
                                <h1 class="title-main">DM DURABLE</h1>
                            </div>

                            <div class="score-group">
                                <div class="note-label">
                                    <div>NOTE</div>
                                    <div>MOYENNE</div>
                                </div>
                                <div class="big-score-container">
                                    <span class="big-score">{{vulnerabilities1.index}}</span>
                                    <span class="big-score-total">/20</span>
                                </div>
                            </div>
                        </div>

                        <!-- Right Panel -->
                        <div class="right-panel">
                            <!-- V1 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">ÉMISSION DE GAZ À EFFET DE SERRE</span>
                                    <mat-icon class="metric-icon">cloud</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v1GazEmission}}</span>
                                </div>
                            </div>
                            <!-- V2 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">CONSOMMATION EN EAU</span>
                                    <mat-icon class="metric-icon">water_drop</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v2WaterConsumption}}</span>
                                </div>
                            </div>
                            <!-- V3 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">PRODUCTION ET MAÎTRISE DES DÉCHETS</span>
                                    <mat-icon class="metric-icon">delete</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v3WasteProduction}}</span>
                                </div>
                            </div>
                            <!-- V4 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">SANTÉ, SÉCURITÉ, CONDITION DE TRAVAIL</span>
                                    <mat-icon class="metric-icon">health_and_safety</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v4HealthSecurityWorkCondition}}</span>
                                </div>
                            </div>
                            <!-- V5 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">BIOACCUMULATION, TOXICITÉ</span>
                                    <mat-icon class="metric-icon">science</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v5BioacumulationToxicity}}</span>
                                </div>
                            </div>
                            <!-- V6 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">INCLUSION, DIVERSITÉ</span>
                                    <mat-icon class="metric-icon">groups</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities1.v6InclusionAndDiversity}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div style="width: 1rem;"></div>

        <!--Box 2-->
        <div style="width: 70%;margin: auto;">
            <mat-card class="example-card" appearance="outlined" style="padding: 1rem; align-items: center;">
                <mat-card-header>
                    <mat-card-title>Dispositif médical 2</mat-card-title>
                </mat-card-header>
                <mat-card-content style="display: flex; flex-direction: column; align-items: center; width: 100%;">
                    <mat-form-field style="width: 50%;">
                        <mat-label>Dispositif médical</mat-label>
                        <mat-select [(ngModel)]="selectedIndexDMDurable2" (selectionChange)="onDevice2Change()">
                            <mat-option></mat-option>
                            <mat-option value="{{indexDMDurable.id}}"
                                *ngFor="let indexDMDurable of listIndexDMDurable">{{indexDMDurable.nameOfMedicalName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Dashboard 2 -->
                    <div class="dashboard-container">
                        <!-- Left Panel -->
                        <div class="left-panel">
                            <div class="title-group">
                                <h1 class="title-main">INDEX</h1>
                                <h1 class="title-main">DM DURABLE</h1>
                            </div>

                            <div class="score-group">
                                <div class="note-label">
                                    <div>NOTE</div>
                                    <div>MOYENNE</div>
                                </div>
                                <div class="big-score-container">
                                    <span class="big-score">{{vulnerabilities2.index}}</span>
                                    <span class="big-score-total">/20</span>
                                </div>
                            </div>
                        </div>

                        <!-- Right Panel -->
                        <div class="right-panel">
                            <!-- V1 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">ÉMISSION DE GAZ À EFFET DE SERRE</span>
                                    <mat-icon class="metric-icon">cloud</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v1GazEmission}}</span>
                                </div>
                            </div>
                            <!-- V2 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">CONSOMMATION EN EAU</span>
                                    <mat-icon class="metric-icon">water_drop</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v2}}</span>
                                </div>
                            </div>
                            <!-- V3 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">PRODUCTION ET MAÎTRISE DES DÉCHETS</span>
                                    <mat-icon class="metric-icon">delete</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v3}}</span>
                                </div>
                            </div>
                            <!-- V4 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">SANTÉ, SÉCURITÉ, CONDITION DE TRAVAIL</span>
                                    <mat-icon class="metric-icon">health_and_safety</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v4HealthSecurityWorkCondition}}</span>
                                </div>
                            </div>
                            <!-- V5 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">BIOACCUMULATION, TOXICITÉ</span>
                                    <mat-icon class="metric-icon">science</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v5BioacumulationToxicity}}</span>
                                </div>
                            </div>
                            <!-- V6 -->
                            <div class="metric-row">
                                <div class="metric-label-box">
                                    <span class="metric-text">INCLUSION, DIVERSITÉ</span>
                                    <mat-icon class="metric-icon">groups</mat-icon>
                                </div>
                                <div class="metric-score-box">
                                    <span class="metric-score">{{vulnerabilities2.v6}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>