<div>

<br>
<div style="position: relative; display: flex; align-items: center; justify-content: center; width: 100%; padding: 8px 0;">

	<h1 style="margin: 0;">
		Vulnérabilité 1 - Émission de gaz à effet de serre
	</h1>

	<div style="position: absolute; right: 16px; top: 50%; transform: translateY(-50%);">
		<button mat-raised-button (click)="goTo('/')">
			<mat-icon style="margin: auto;">home</mat-icon>

		</button>
	</div>

</div>
<br>
<div style="width: 70%;margin: auto;">
	<mat-card class="example-card" appearance="outlined" style="padding: 1rem;">
		<mat-card-header>
			<mat-card-title>Type de matière premières</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<br>
			<form [formGroup]="v1GazEmissionForm">
				<h2>Intensité carbonne du produit</h2>

				<mat-form-field style="width: 25%;padding-right: 1rem;">
					<mat-label>Poids en gramme</mat-label>
					<input matInput type="number" formControlName="weightPrimaryMaterialCarbonneEmission"> 
				</mat-form-field>
				<mat-form-field style="width: 50%;">
					<mat-label>Empreinte carbone matière première principale</mat-label>
					<input matInput type="number" formControlName="primaryMaterialCarbonneEmission"> 
				</mat-form-field>
				<br>
				<mat-form-field style="width: 50%;">
					<mat-label>Cas particulier</mat-label>
					<mat-select>
						<mat-option (click)="showMaterials(false,false)" value="Aucune des propositions">Aucune des propositions</mat-option>
						<mat-option (click)="showMaterials(true,false)" value="dispositif médical monomatière">dispositif médical monomatière</mat-option>
						<mat-option (click)="showMaterials(true,true)" value="dispositif médical bimatière">dispositif médical bimatière</mat-option>
					</mat-select>
				</mat-form-field>
<a matButton="tonal" href="https://base-empreinte.ademe.fr" target="_blank">Lien</a>

				<button mat-icon-button class="btn-info" (click)="showInfos()"><mat-icon>info</mat-icon></button>
				<p>{{txtInfo}}</p>
				
				<br>
				@if(firstMaterialStatus){

				<mat-form-field style="width: 25%;padding-right: 1rem;">
					<mat-label>Poids en gramme</mat-label>
					<input matInput type="number" formControlName="weightFirstMaterialCarbonneEmission"> 
				</mat-form-field>
				<mat-form-field style="width: 50%;">
					<mat-label>Empreinte carbone matière première 1</mat-label>
					<input matInput type="number" formControlName="firstMaterialCarbonneEmission">
				</mat-form-field>
				}
				<br>
				@if(secondMaterialStatus){

				<mat-form-field style="width: 25%;padding-right: 1rem;">
					<mat-label>Poids en gramme</mat-label>
					<input matInput type="number" formControlName="weightSecondMaterialCarbonneEmission"> 
				</mat-form-field>
				<mat-form-field style="width: 50%;">
					<mat-label>Empreinte carbonne matière première 2</mat-label>
					<input matInput type="number" formControlName="secondMaterialCarbonneEmission">
				</mat-form-field>
				}
			@if(element1Status){
			<div style="width: 40%;">
				<mat-card class="example-card" appearance="outlined" style="padding: 1rem;">
					<mat-card-header>
						<mat-card-title>Intensité carbone du DM</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p><strong>{{resultElement1 | number:'1.2-2'}}</strong> CO2eq/g<p>	
						<br>
					</mat-card-content>
					<mat-card-footer style="display: flex;justify-content: flex-end;">
					</mat-card-footer>
				</mat-card>
			</div>
			}
			<br>
			<mat-divider></mat-divider>

			<h2>Intensité carbonne du produit</h2>

			<mat-form-field style="width: 50%;">
				<mat-label>Matériaux rares</mat-label>
				<!-- Refere to tab 2 page 27-->
				<mat-select>
					<mat-option (click)="containsRareMaterialStatus(false)" value="Aucun matériau présent de cette liste">Aucun matériau présent de cette liste</mat-option>

					@for(material of rareMaterialsList; track material){
					<mat-option (click)="containsRareMaterialStatus(true)" [value]="material">{{material}}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			</form>
		</mat-card-content>
		<mat-card-footer class="example-card-footer" >
			<button matButton="tonal" style="margin-left: auto;" (click)="save()">Save</button>
		</mat-card-footer>
	</mat-card>
</div>
</div>
